@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}

a {
    color: inherit !important;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

input {
    background-color: transparent;
}

a,
img,
input,
button,
select,
textarea {
    padding: 0;
    outline: none;
    border: none;
    color: inherit;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

.icon {
    filter: var(--icon-color);
}

.container {
    @include abstracts.screen(sm) {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}
